.FP{
    background-color:#164863;
    border: solid 5px black;
    width: 60%;
    height: 1000px;
    margin: 0 auto;
}

.aa{
    background-color: #427D9D;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 20%;
    border-color: right black;
    width: 35%;
    height: 990px;
    float: left;
}

.ab{
    height: 210px;
    width: 220px;
    background-color: black;
    margin-top:50px;
    margin-left: 10px;
    border-radius: 500px;
}

.ac{
    background-image: url("img/pic.jpg");
    height: 200px;
    width: 200px;
    border-radius: 200px;
    margin-left: 30px;
    margin-top: 50px;
    box-shadow: 7px 5px 10px;

}

.ae{
    margin-left: 20px;
}
.af{
    padding-top: 30px;
    margin-left: 20px;
}


.ba{
    background-color: #9BBEC8;
    width: 65%;
    height:990px;
    float: right;
    border-color: black;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;

}
#bf{
   padding-left: 30px;
    text-decoration: dotted;
    padding-top: 30px;
}
 
#bg{
    text-align:justify;
    padding-left: 30px;
    padding-right: 10px;
    
}

.bh{
    background-color: bisque;
    border: solid black 2px;
    text-align: center ;
    margin: 20px;
    table-layout: fixed;

}
.bc{
    padding-left: 10px;
    padding-right: 5px;
}
.bd{
    padding-left: 20px;
}
.be{
    padding-left: 20px;
}

.abc{
    color: black;
}
.bb{
    padding-top: 30px;
    text-justify: auto;
    padding-right: 10px;
}